.navbar
  padding: 0.5rem 0
.navbar-fixed-top
  background-color: white
.navbar-brand
  color: $turquoise3
  line-height: 2rem
  margin: 14px 0px 7px
  font:
    family: 'League Gothic'
    size: 2.8rem
  text-transform: uppercase
  padding: 0
  > img
    display: inline-block
    margin:
      top: -18px
      right: 10px

.navbar-fixed-top
  .nav-link
    padding:
      top: .95rem
      bottom: .95rem
  .btn
    padding: 13px 29px
    font-size: 1.2rem
  .img-circle
    margin: 5px 0
    border: 2px solid $turquoise3
  form[role=search]
    font-size: 1.2rem
    .input-group-btn, input
      padding: .9rem 1.5rem
  .form-control-lg
    background-color: mix(#FFF, $turquoise2, 90%)
    border-radius: 4px !important
    border: none

.input-group-btn-inside
  position: absolute
  margin: 6px 10px
  z-index: 10
  font-size: inherit
.input-group-btn-inside-lg
  margin: 0
  padding-left: 1rem !important
  padding-right: 1rem !important

.form-control-with-icon-left
  padding-left: 30px
.form-control-with-icon-left-lg
  padding-left: 38px !important
